html, body {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  height: 100%;
}

#tool-pane {
  width: 35%;
  min-width: 280px;
  border-right: 1px solid #333;
  padding: 8px;
}

#terminal-pane {
  flex: 1;
  background: black;
  display: flex;
}

#terminal {
  flex: 1;
  width: 100%;
  height: 100%;
}


